:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-body {
    font-family: "Figtree", sans-serif;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow);
}

@media (max-width: 420px) {
    .page-body {
        padding: 0 24px;
    }
}

.card {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px #000;
    padding: 24px;
    color: var(--black);
}

.card__inner {
    max-width: 336px;
}

.card__img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 24px;
}

.card__tag {
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;

    padding: 4px 12px;
    background-color: var(--yellow);
    border-radius: 4px;
    margin-bottom: 12px;
}

@media (max-width: 420px) {
    .card__tag {
        font-size: 12px;
    }
}

.card__date {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 12px;
}

@media (max-width: 420px) {
    .card__date {
        font-size: 12px;
    }
}

.card__title a:link,
.card__title a:visited {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    color: var(--black);
    margin-bottom: 12px;
}

.card__title a:hover {
    color: var(--yellow);
}

.card__title a:focus {
    color: var(--grey);
}

@media (max-width: 420px) {
    .card__title a:link,
    .card__title a:visited {
        font-size: 20px;
    }
}

.card__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--grey);
    margin-bottom: 24px;
}

@media (max-width: 420px) {
    .card__text {
        font-size: 14px;
    }
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-info__img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.user-info__username {
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
}
